# --------------------------------------------------
# Global Git configuration (safe to commit)
# --------------------------------------------------

[core]
  editor = nvim
  excludesfile = ~/.gitignore_global

[pull]
  rebase = true

[init]
  defaultBranch = main

[color]
  ui = auto

# --------------------------------------------------
# Conditional profiles
# --------------------------------------------------

# --------------------------------------------------
# Dotfiles repo
# --------------------------------------------------

[includeIf "gitdir:~/dotfiles/"]
  path = ~/.gitconfig-personal

# --------------------------------------------------
# Work repos
# --------------------------------------------------

[includeIf "gitdir:~/development/projects/**"]
  path = ~/.gitconfig-work

[includeIf "gitdir:~/development/projects/**"]
  path = ~/.gitconfig-local-work

# --------------------------------------------------
# Personal repos
# --------------------------------------------------

[includeIf "gitdir:~/development/privat/**"]
  path = ~/.gitconfig-personal

[includeIf "gitdir:~/development/privat/**"]
  path = ~/.gitconfig-local-personal


